body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar {
  background-color: #333;
  padding: 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}




.shorten-container {
  margin-top: 2rem;
}

.input-group {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.input-group input {
  padding: 0.5rem;
  width: 30%;
  min-width: 200px;
}

button {
  margin: 0.5rem 0.5rem 1rem 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.results a {
  color: blue;
  text-decoration: underline;
}








.stats-container {
  margin-top: 2rem;
}

.stats-card {
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.stats-card a {
  color: blue;
  text-decoration: underline;
}

.click-log {
  margin-top: 0.5rem;
}

.click-log li {
  background-color: #f9f9f9;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 6px;
}
